.input__panel {
    padding: 20px;
}

.input__task {
    width: 100%;
    border: none;
    padding: 7px 10px;
    box-sizing: border-box;
    border-bottom: 2px solid lightgray;
    outline: none;
}
