.footer {
  padding: 10px 20px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  display:flex;
  justify-content: space-between;
}

.footer:nth-child(1){
  text-align: left !important;
}

.footer:last-child{
  text-align: right !important;
}

.textButton {
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.hidden {
  visibility: hidden;
}

.filter_button_footer{
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footer{
    flex-direction: column;
  }
  .textButton{
    width: 100% !important;
  }
  .filter_button_footer{
    width: 100% !important;
    margin: 5px 0;
  }
  .footer:nth-child(1){
    text-align: center !important;
  }
  .footer:last-child{
    text-align: center !important;
  }
  .regulate_btn{
    margin: 5px 0 !important;
  }
}
